PORT=
MONGODB_URL=
NODE_ENV=

# jwt
JWT_SECRET=
JWT_EXPIRE=
JWT_REFRESH_EXPIRE=
JWT_REFRESH_SECRET=

# bcrypt
BCRYPT_SALT_ROUND=

# super admin
SUPER_ADMIN_EMAIL=
SUPER_ADMIN_PASSWORD=

# google console 
GOOGLE_CALLBACK_URL=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# frontend
FRONTEND_URL=

# ssl 
STORE_ID=
STORE_PASS=
SSL_PAYMENT_API=
SSL_VALIDATION_API=
SSL_IPN_URL=

SSL_BACKEND_SUCCESS_URL=
SSL_BACKEND_FAIL_URL=
SSL_BACKEND_CANCEL_URL=

SSL_FRONTEND_SUCCESS_URL=
SSL_FRONTEND_FAIL_URL=
SSL_FRONTEND_CANCEL_URL=


# cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# gmail
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASSWORD=

# redis 
REDIS_USERNAME=
REDIS_PASSWORD=j
REDIS_HOST=
REDIS_PORT=